.onboardingContainer__aside {
    display: none;
}

@media (min-width: 768px) {
    .onboardingContainer__aside {
        position: relative;
        display: block;
        height: 100vh;
        background: var(--troperial-dim-blue);
    }

    .onboardingContainer__aside-bottom  img{
      width: 100%;
    }
    .onboardingContainer__aside-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .onboardingContainer__aside-top {
        position: absolute;
        top: 18%;
        left: 15%;
        color: var(--dark-grey);
    }
    .onboardingContainer__aside-top img{
        margin-bottom: -10px;
    }
}