.onboardingFormContainer {
    width: 80%;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .onboardingFormContainer {
        width: 50%;
    }
}
@media (min-width: 1024px) {
    .onboardingFormContainer {
        width: 33.333%;
    }
}

@media (min-width: 1280px) {

}