.onboarding__footer{
    width: 100%;
    text-align: center;
   /* margin-top: 100px; */
}
.onboarding__footer .onboarding__footer-paragraph{
   color: var(--dark-grey);
   padding: 15px 30px;
   box-sizing: border-box;
}
.onboarding__footer .onboarding__footer-paragraph a{
   text-decoration: none;
   color: var(--troperial-blue);
}