.listingsCustom__container {
	width: 100%;
	margin: 0 auto;
	padding-top: 45px;
}
@media (min-width: 768px) {
	.post__listing-container {
		width: 90%;
		margin: 0 auto;
	}
	.listingsCustom__container {
		width: 95%;
		display: grid;
		grid-template-columns: 1fr 4.5fr;
		grid-gap: 10px 30px;
		padding-top: 100px;
	}
	.table-container {
		margin-top: 20px;
		width: 100%;
		border: solid 1px var(--light-grey);
		border-radius: 10px;
	}
}

.react-tabs {
	margin-top: 10px;
	-webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
	border-bottom: 1px solid var(--light-grey);
	margin: 0 0 10px;
	padding: 0;
}

.react-tabs__tab {
	display: inline-block;
	list-style: none;
	padding: 20px 0px;
	cursor: pointer;
	margin-right: 50px;
}

.react-tabs__tab--selected {
	color: var(--troperial-blue);
	border-bottom: 3px solid var(--troperial-blue);
}

.react-tabs__tab--disabled {
	color: grey;
	cursor: default;
}
.react-tabs__tab:focus {
	outline: none;
}

.react-tabs__tab:focus:after {
	content: "";
	position: absolute;
	height: 5px;
	left: -4px;
	right: -4px;
	bottom: -5px;
	background: #fff;
}
.react-tabs__tab-panel {
	display: none;
}
.react-tabs__tab-panel--selected {
	display: block;
}
