.onboardingContainer {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    .onboardingContainer {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}
/* 
@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

} */
