.tableHead__container {
 display: none;
}

@media (min-width: 768px) {
    .tableHead__container {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        background: var(--troperial-dim-blue);
        padding: 15px 15px;
        border-radius: 10px 10px 0px 0px;
    }
}