.backdrop {
	position: absolute;
	width: 100%;
	height: 100vh;
	background: #fff;
}
.backdrop__content-container {
    width: 90%;
    margin: 0 auto;
}
.mobile__close-btn-container {
	margin-top: 60px;
}
.mobile__close-btn-container button{
	color: var(--dark-grey);
	background: #fff;
	border: none;
}
.mobile__close-btn-container button i{
	font-size: 1.2rem;
}
@media (min-width: 768px) {
    .backdrop {
		overflow: hidden;
		background-color: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: flex-end;
	}
	.backdrop__background {
		width: 70%;
    }
    .backdrop__content-container {
		height: 100vh;
		margin: 0;
		max-width: 35%;
		background: #fff;
		top: 0;
    }
    .mobile__close-btn-container {
        display: none
    }
}