.verified__container {
    text-align: center;
    width: 80%;
    margin: 30px auto 0 auto;
    box-sizing: border-box;
}
.verifiedNotification__btn{
    transition: 0.5s ease-in-out;
    border: none;
    border-radius: 8px;
    outline: none;
    color: var(--original-white);
    background: var(--troperial-blue);
    font-weight: normal;
    font-size: medium;
    padding: 10px 15px;
    width:100%;
  }
  .verifiedNotification__btn:hover {
    cursor: pointer;
    background: rgb(3, 117, 211);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
  .verifiedNotification__image {
      width: 90px;
  }
  .verifiedNotification__title {
      font-size: 1.3rem;
  }
  .verifiedNotification__p {
      font-size: 1rem;
      margin: 10px 0;
      line-height: 1.9;
      color: var(--dark-grey);
  }

  @media (min-width: 768px) {
    .verified__container {
        margin: 50px auto 0 auto;
    }
    .verifiedNotification__image {
        width: 100px;
    }
    .verifiedNotification__title {
        font-size: 1.4rem;
    }
    .verifiedNotification__p {
        font-size: 1.2rem;
    }
    .verifiedNotification__btn{
        font-weight: normal;
        font-size: 1.3rem;
      }
  }
  