nav.navigationBar {
	width: 100%;
	position: fixed;
	z-index: 1;
}
.largeScreen__container {
	display: none;
}
.smallScreen__container,
.smallScreen__shield {
	height: 45px;
}
.smallScreen__shield {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 5px 10px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    background: #fff;
}
.smallScreen-logoContainer button {
	border: none;
	outline: none;
	background: transparent;
}
.smallScreen-logoContainer button i {
	font-size: 16px;
}
.smallScreen__profile {
	width: 22px;
	height: 22px;
	border-radius: 100%;
	margin: 5px 5px 0 5px;
	padding: 0;
	border: solid 3px var(--light-grey);
}
.smallScreen__pageTitle .title {
	color: var(--troperial-blue);
}
.smallScreen___linkContainer {
	width: inherit;
	text-align: center;
	background: #fff;
}
.smallScreen___linkContainer a {
	display: block;
	padding: 20px 0;
	text-decoration: none;
	font-weight: bold;
	color: var(--troperial-blue);
}

@media screen and (min-width: 768px) {
	.smallScreen__container {
		display: none;
	}
	nav.navigationBar {
		margin-top: 20px;
		z-index: initial;
	}
	.largeScreen__container {
		width: 95%;
		box-sizing: border-box;
		height: 50px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: inherit;
		padding: 0 50px;
        border-radius: 15px;
		background: #fff;
		box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
		0 2px 2px rgba(0,0,0,0.15), 
		0 4px 4px rgba(0,0,0,0.15), 
		0 8px 8px rgba(0,0,0,0.15);
		/* box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
		0 2px 4px rgba(0,0,0,0.07), 
		0 4px 8px rgba(0,0,0,0.07), 
		0 8px 16px rgba(0,0,0,0.07),
		0 16px 32px rgba(0,0,0,0.07), 
		0 32px 64px rgba(0,0,0,0.07); */
	}
	.largeScreen__logo {
		width: 100px;
	}
	.largeScreen-links a {
		text-decoration: none;
		margin: 0 30px;
		color: var(--dark-grey);
		text-transform: capitalize;
		height: 100vh;
		padding-bottom: 11px;
	}
	.largeScreen-links a:hover {
		border-bottom: solid 4px var(--troperial-blue);
		color: var(--troperial-blue);
	}
	.largeScreen__profileContainer {
		display: flex;
		height: inherit;
		align-items: center;
		justify-content: center;
	}
	.largeScreen__profile {
		width: 22px;
		height: 22px;
		border-radius: 100%;
		margin: 5px 5px 0 5px;
		padding: 0;
		border: solid 3px var(--light-grey);
	}
}