.listing__main-container {
  background: #fff;
  padding: 25px;
  box-sizing: border-box;
  /* height: 100%; */
}
@media (min-width: 768px) {
  .listing__main-container {
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
}
