.customButton {
    display: block;
    width:100%;
    padding:15px 15px;
    box-sizing: border-box;
    margin: 20px 0;
    transition: 0.5s ease-in-out;
    border: none;
    border-radius: 10px;
    font-size: medium;
    outline: none;
    color: var(--original-white);
    background: var(--troperial-blue);
    font-weight: 400;
}

.customButton a {
    text-decoration: none;
    color: var(--original-white);
}