.customButton {
    display: block;
    width:100%;
    padding:13px 13px;
    box-sizing: border-box;
    margin: 18px 0;
    transition: 0.5s ease-in-out;
    border: none;
    border-radius: 10px;
    font-size: medium;
    outline: none;
    color: var(--original-white);
    background: var(--troperial-blue);
    font-weight: 400;
}

.customButton:hover {
    cursor: pointer;
    background: rgb(3, 117, 211);
     box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}


.customButton a {
    text-decoration: none;
    color: var(--original-white);
}